@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,400&display=swap');

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}


h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

main {
    display: flex;
    padding: 0 50px 0 50px;
}

input {
    border: none;
}

.conatiner {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 75vh;
    align-items: baseline;
}

#display_image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

#loading {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
}
#loader_wheel {
    margin: 0 auto;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid black;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

textarea {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    font-size: 1.2rem;
}

#image_input {
    height: 25px;
    margin-bottom: 10px;
}

.conatiner input[type=file]:invalid~#display_image>#input {
    display: block;
}

.conatiner input[type=file]~#display_image>#input {
    display: none;
}

.input_label {
    position: relative;
    width: 100%;
}
.delete {
    position: absolute;
    right: 0;
    bottom: -24px;
}